<!DOCTYPE html>

{% load staticfiles %}
{% load static %}

<html lang="en">


<html>
<head>
    <!-- Dont remove this: Divyarth Singh -->
    <!-- Site made with Mobirise Website Builder v4.9.7, https://mobirise.com -->


    <title>Confirm Password</title>
    <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">


</head>
<body>
<section class="menu cid-rmqZR6lSw2" once="menu" id="menu1-6">


    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{% url 'registration:index' %}">
                         <img src="{% static 'assets/images/logo2.png' %}" alt="PhD Evaluation" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-4" href="{% url 'registration:index' %}">
                        PhD Evaluation
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-4" href="{% url 'registration:register' %}">
                        Register
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-4" href="{% url 'registration:userLogin' %}">
                        Login
                    </a>
                </span>
            </div>
        </div>
    </nav>


</section>

<!-- Dont remove this: Divyarth Singh -->
{#<section class="engine"><a href="https://mobirise.info/j">website templates</a></section>#}
<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">


    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Information</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    <div align="left">
                        <ul>
                            <b>
                                <blackcolor>
                                    <h3>
                                        {% block content %}
                                            {% if validlink %}
                                                <h3>Change password</h3>
                                                <form method="post">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <div class="form-group">
                                                        <button type="submit" class="button">
                                                            Change Password
                                                        </button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <p>
                                                    The password reset link was invalid, possibly because it has already
                                                    been used.
                                                    Please request a new password reset.
                                                </p>
                                            {% endif %}
                                        {% endblock %}
                                    </h3>
                                </blackcolor>
                            </b>
                        </ul>
                    </div>
                </p>
            <br>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/tether/tether.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
<script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
<script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>


</body>
</html>
