<h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i>Profile</h3>
<div class="row">
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">First Name:</label>
              <div class="col-xs-7 controls">{{ profile.first_name }}</div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Last Name:</label>
              <div class="col-xs-7 controls"></div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">SUNY ID:</label>
              <div class="col-xs-7 controls"></div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Native Country:</label>
              <div class="col-xs-7 controls">mariah@Vendroid.com</div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Current GPA:</label>
              <div class="col-xs-7 controls">Los Angeles</div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Number of semester completed:</label>
              <div class="col-xs-7 controls"> </div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Current Research Advisor:</label>
              <div class="col-xs-7 controls"></div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Current Academic Advisor:</label>
              <div class="col-xs-7 controls">.</div>
              <!-- col-sm-10 -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row mgbt-xs-0">
              <label class="col-xs-5 control-label">Number of paper PUBLISHED:</label>
              <div class="col-xs-7 controls"><a href="http://Vendroid.venmond.com">Vendroid.venmond.com</a></div>
              <!-- col-sm-10 -->
            </div>
          </div>
        </div>