{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Dont remove this: Divyarth Singh -->
    <!-- Site made with Mobirise Website Builder v4.9.7, https://mobirise.com -->

    <title>Questionnaire</title>
    <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
    <style>
        table.d {
            table-layout: fixed;
            width: 100%;
        }
    </style>

    <style>
        table, td, th {
            border: 4px solid #19334d;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            padding: 14px;
            background-color: floralwhite;
            color: black;
        }

        td {
            padding: 5px;
            background-color: white;
            color: black;
        }

        th, td {
            font-size: 80%;
            font-weight: 400;
        }

        tr:hover td {
            background-color: floralwhite;
        }
    </style>

    <style>
        html {
            overflow-y: scroll;
        }
    </style>

</head>
<body>
<section class="menu cid-rmqZR6lSw2" once="menu" id="menu1-6">


    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{% url 'questionnaire:studentHome' %}">
                         <img src="{% static 'assets/images/logo2.png' %}" alt="PhD Evaluation" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-4" href="{% url 'questionnaire:studentHome' %}">
                        PhD Evaluation
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-4" href="{% url 'questionnaire:studentHome' %}">
                        Home
                    </a>
                </span>
                {% if user.is_authenticated %}
                    <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-4" href="{% url 'registration:userLogout' %}">
                        Logout
                    </a>
                </span>
                {% endif %}
                {% block nav_header %}{% endblock nav_header %}
            </div>
        </div>
    </nav>


</section>
<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">
    <div class="container">
        {% if QuestionnaireFor %}
            <br>
            <h1 class="mb-0 my-2"><b>Questionnaire for {{ QuestionnaireFor }}</b></h1>
        {% endif %}
        <br>
        {% block progressbar %}{% endblock progressbar %}
        <div class="row">
            <div class="row">
                <div class="card border-primary">
                    <div class="card-body">

                        {% if messages %}
                            {% for message in messages %}
                                <div role="alert"
                                     class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block footer %}{% endblock footer %}
<!-- Include formset plugin - including jQuery dependency -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="{% static 'assets/web/assets/jquery/jquery.formset.js' %}"></script>
<script src="{% static 'assets/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/tether/tether.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
<script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
<script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>

</body>
</html>
