{% extends "questionnaire/base.html" %}
{% block content %}
    {% for course in courses %}
        <article class="media content-section">          
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ course.username }}</a>
              <p class="text-muted">
              	{{ course.Subject_Code }}
              </p>
            </div>
            <h2><a class="article-title" href="{% url 'course-detail' course.id %}">
            	{{ course.Subject_Name }}
        	</a></h2>
            <p class="article-content">
            	{{ course.Subject_Term_and_Year }}
            </p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}