{% extends "./base.html" %}
{% block progressbar %}
    <div class="ex1">
        <style>
            .nav {
                margin: 0;
                padding: 0;
                list-style-type: none;
                text-align: center;
            }

            .nav li {

                display: inline-block;
            }

            .nav a {
                color: #fff;
                display: inline-block;
                padding: 0.5em 0.75em;
                background-color: #666;
                border-radius: 4px;
                text-decoration: none;
            }

            .nav a:hover {
                background-color: #000;
            }

            .nav .current {
                background-color: red;
            }
        </style>

        <nav>

            <ul class="nav" style="width:75%">
                <li><a class="current" href="{% url 'questionnaire:form-research' %}">Research </a></li>
                <li></li>
                <li><a href="{% url 'questionnaire:form-qexams' %}">Qualifying Exam</a></li>
                <li><a href="{% url 'questionnaire:form-ta' %}">TA</a></li>
                <li><a href="{% url 'questionnaire:form-courses' %}">Courses</a></li>
                <li><a href="{% url 'questionnaire:form-papers' %}">Research Paper</a></li>
                {% if questionnaireStatus == 'Saved' %}
                    <li><a href="{% url 'questionnaire:review' %}">Review</a></li>
                {% endif %}
            </ul>

        </nav>
    </div>
{% endblock progressbar %}
{% load crispy_forms_tags %}

{% block content %}
    <form class="form" role="form" autocomplete="off" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <strong style="color:red">{{ error|escape }}</strong><br>
            {% endfor %}
        {% endif %}
        <div class="card-header">
            <h2 class="mb-0 my-2"><b>Academic details</b></h2>
        </div>
        <table class="d" style="width:40%">
            <tr>
                <th>GPA</th>
                <td>{{ form.Current_GPA }}
                    {% if form.Current_GPA.errors %}
                        {% for error in form.Current_GPA.errors %}
                            <br><strong style="color:red">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Academic Advisor</th>
                <td>{{ form.Current_Academic_Advisor }}
                    {% if form.Current_Academic_Advisor.errors %}
                        {% for error in form.Current_Academic_Advisor.errors %}
                            <br><strong style="color:red">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="card-header">
            <h2 class="mb-0 my-2"><b>Research details</b></h2>
        </div>
        <table class="d" style="width:75%">
            <tr>
                <th>Thesis Topic</th>
                <td>{{ form.Topic }}
                    {% if form.Topic.errors %}
                        {% for error in form.Topic.errors %}
                            <br><strong style="color:red">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Research Advisor</th>
                <td>{{ form.Current_Research_Advisor }}
                    {% if form.Current_Research_Advisor.errors %}
                        {% for error in form.Current_Research_Advisor.errors %}
                            <br><strong style="color:red">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Thesis Proposal</th>
                <td>{{ form.Proposal }}&nbsp{{ form.Proposal_Status }}
                    {% if form.Proposal.errors %}
                        {% for error in form.Proposal.errors %}
                            <br><strong style="color:red">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Thesis Defense</th>
                <td>{{ form.Defense }}&nbsp{{ form.Defense_Status }}
                    {% if form.Defense.errors %}
                        {% for error in form.Defense.errors %}
                            <br><strong style="color:red">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Thesis Committee</th>
                <td>{{ form.Thesis_Committee }}
                    {% if form.Thesis_Committee.errors %}
                        {% for error in form.Thesis_Committee.errors %}
                            <br><strong style="color:red">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>

        <br>
        <blackcolor>
            <div class="form-group">
                <button type="submit" class="button" name="save">
                    Save
                </button>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </div>
            <div class="form-group">
                <button type="submit" class="button" name="prev">
                    Previous
                </button>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" class="button" name="next">
                    Next
                </button>
            </div>
        </blackcolor>
    </form>
{% endblock content %}
