<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody>
<tr>
    <td>
       <div id="div_id_form-4-Subject_Name" class="form-group">
            <label for="id_form-4-Subject_Name" class="col-form-label  requiredField">
                Subject Name<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="form-4-Subject_Name" value="OS" maxlength="200" class="textinput textInput form-control" id="id_form-4-Subject_Name">
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div id="div_id_form-4-DELETE" class="form-check">
                <label for="id_form-4-DELETE" class="form-check-label">
                    <input type="checkbox" name="form-4-DELETE" class="checkboxinput form-check-input" id="id_form-4-DELETE">
                    Delete
                </label>
            </div>
        </div>
    </td>
</tr>

<tr>
    <td>
        <div id="div_id_form-5-Subject_Name" class="form-group">
            <label for="id_form-5-Subject_Name" class="col-form-label  requiredField">
                Subject Name<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="form-5-Subject_Name" value="SE" maxlength="200" class="textinput textInput form-control" id="id_form-5-Subject_Name">
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div id="div_id_form-5-DELETE" class="form-check">
                <label for="id_form-5-DELETE" class="form-check-label">
                    <input type="checkbox" name="form-5-DELETE" class="checkboxinput form-check-input" id="id_form-5-DELETE">
                    Delete
                </label>
            </div>
        </div>
    </td>
</tr>

</tbody>
</body>
</html>
