{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card-header">
        <h2 class="mb-0 my-2"><b>Add a Research Paper</b></h2>>
    </div>
    <br>
    <form id="paper-formset" class="form" role="form" autocomplete="off" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}

        {{ paper_formset.management_form }}
        <table class="d" border="3" cellpadding="15" cellspacing="0">
            <tbody>
            {% for form in paper_formset.forms %}
                <tr>
                    <td>{{ form.Title|as_crispy_field }}</td>
                    <td>{{ form.Coauthor|as_crispy_field }}</td>
                    <td>{{ form.Venue|as_crispy_field }}</td>
                    <td>{{ form.Status_of_Paper|as_crispy_field }}</td>
                    <td>{{ form.DELETE|as_crispy_field }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <blackcolor>
            <div class="form-group">
                <button type="submit" class="button" name="save">
                    Save
                </button>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" class="button" name="prev">
                    Previous
                </button>
            </div>
        </blackcolor>
    </form>
    {% if paper_formset.errors %}
        {% for error in paper_formset.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
    {% if paper_formset.non_form_errors %}
        {% for error in paper_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

{% endblock content %}

{% block footer%}
{% endblock footer%}