{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card-header">
        <h2 class="mb-0 my-2"><b>Qualifying Exams(All Attempts)</b></h2>
    </div>

    <form id="qexam-formset" class="form" role="form" autocomplete="off" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}

        {{ qexam_formset.management_form }}
        <table  class="d" border="3" cellpadding="15" cellspacing="0">
            <tbody>
            {% for form in qexam_formset.forms %}
                <tr>
                    <td>{{ form.Exam_Name|as_crispy_field }}</td>
                    <td>{{ form.Attempt_Number|as_crispy_field }}</td>
                    <td>{{ form.Grade|as_crispy_field }}</td>
                    <td>{{ form.DELETE|as_crispy_field }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <blackcolor>
            <div class="form-group">
                <button type="submit" class="button" name="save">
                    Save
                </button>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" class="button" name="prev">
                    Previous
                </button>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" class="button" name="next">
                    Next
                </button>
            </div>
        </blackcolor>
    </form>

    {% if qexam_formset.non_form_errors %}
        {% for error in qexam_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}


{% endblock content %}

{% block footer%}
{% endblock footer%}