{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="card-header">
            <h2 class="mb-0 my-2"><b>Teaching Assistantships</b></h2>
        </div>
        <br>
        <form id="ta-formset" class="form-horizontal" role="form" autocomplete="off" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ ta_formset.management_form }}
            <table  class="d" border="3" cellpadding="15" cellspacing="0">
                {% for form in ta_formset.forms %}
                <tbody>
                    <tr>
                        <td>{{ form.Subject_Name|as_crispy_field }}</td>
                        <td>{{ form.Subject_Code|as_crispy_field }}</td>
                        <td>{{ form.In_Which_Semester|as_crispy_field }}</td>
                        <td>{{ form.Instructor_Name|as_crispy_field }}</td>
                        <td>{{ form.Responsibilities|as_crispy_field }}</td>
                        <td>{{ form.Lecture_or_Presentation_Given|as_crispy_field }}</td>
                        <td>{{ form.Area_of_Improvement|as_crispy_field }}</td>
                        <td>{{ form.DELETE|as_crispy_field }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <br>
            <blackcolor>
                <div class="form-group">
                    <button type="submit" class="button" name="save">
                        Save
                    </button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="submit" class="button" name="prev">
                        Previous
                    </button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="submit" class="button" name="next">
                        Next
                    </button>
                </div>
            </blackcolor>
        </form>
{% endblock content %}

{% block footer %}
{% endblock footer %}