{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block nav_header%}
{% endblock nav_header%}
<br>
<br>

{% block content %}
    <div class="card-header">
        <h2 class="mb-0 my-2"><b>Courses Taken</b></h2>
    </div>
    <form id="course-formset" class="form" role="form" autocomplete="off" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ course_formset.management_form }}
        <table  class="d" border="3" cellpadding="15" cellspacing="0">
            <tbody>
            {% for form in course_formset.forms %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <tr>
                    <td>{{ form.Subject_Name|as_crispy_field }}</td>
                    <td>{{ form.Subject_Code|as_crispy_field }}</td>
                    <td>{{ form.Subject_Term_and_Year|as_crispy_field }}</td>
                    <td>{{ form.Grade|as_crispy_field }}</td>
                    <td>{{ form.DELETE|as_crispy_field }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <blackcolor>
            <div class="form-group">
                <button type="submit" class="button" name="save">
                    Save
                </button>
{#                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#                <input type="button" class="button" value="Add Course" onclick="cloneMore();" id="add_more">#}
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" class="button" name="next">
                    Next
                </button>
            </div>
        </blackcolor>
        {% for dict in course_formset.errors %}
            {% for error in dict.values %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% if course_formset.non_form_errors %}
            {% for error in course_formset.non_form_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </form>
{% endblock content %}

{% block footer%}
{% endblock footer%}