{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card-header">
        <h2 class="mb-0 my-2"><b>Research Paper</b></h2>
    </div>
    <br>
    <form id="paper-formset" class="form" role="form" autocomplete="off" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}

        {{ paper_formset.management_form }}
        <table class="d" border="3" cellpadding="15" cellspacing="0">
            <tbody>
            {% for form in paper_formset.forms %}
                {% if form.non_field_errors %}
                    <ul class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        <li>
                            {{ error|escape }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <tr>
                    <td>{{ form.Title|as_crispy_field }}</td>
                    <td>{{ form.List_of_Authors|as_crispy_field }}</td>
                    <td>{{ form.Status_of_Paper|as_crispy_field }}</td>
                    <td>{{ form.Publish_Year|as_crispy_field }}</td>
                    <td>{{ form.Publish_Term|as_crispy_field }}</td>
                    <td>{{ form.Venue|as_crispy_field }}</td>
                    <td>{{ form.DELETE|as_crispy_field }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <blackcolor>
            <div class="form-group">
                <button type="submit" class="button" name="save">
                    Save
                </button>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" class="button" name="prev">
                    Previous
                </button>
            </div>
        </blackcolor>
    </form>

{% endblock content %}

{% block footer%}
{% endblock footer%}