{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="card-header">
            <h2 class="mb-0 my-2"><b>Teaching Assistantships</b></h2>
        </div>
        <br>
        <form id="ta-formset" class="form-horizontal" role="form" autocomplete="off" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ ta_formset.management_form }}
            <ol>
                {% for form in ta_formset.forms %}
                    {% if form.non_field_errors %}
                        <ul class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            <li>
                                {{ error|escape }}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <li>
                    {{ form.as_table }}
                    </li>
                {% endfor %}
            </ol>

            <br>
            <blackcolor>
                <div class="form-group">
                    <button type="submit" class="button" name="save">
                        Save
                    </button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="submit" class="button" name="prev">
                        Previous
                    </button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="submit" class="button" name="next">
                        Next
                    </button>
                </div>
            </blackcolor>
        </form>
{% endblock content %}

{% block footer %}
{% endblock footer %}